body .navbar {
    background: $secondary;
    border: none;
    box-shadow: 0 0 5px $secondary;

    .home-link {
        margin: 0;
    }

    .site-name {
        font-size: 1.4rem;
        font-weight: 600;
        color: $primary;
        position: relative;
    }

    .links {
        padding-left: 1.5rem;
        box-sizing: border-box;
        white-space: nowrap;
        font-size: 1rem;
        position: absolute;
        height: 100%;
        right: 1.5rem;
        top: 0;
        display: flex;
        background: transparent;
        color: $primary;
        padding-top: 0;
        display: inline-block;
    }

    .search-box {
        height: 100%;
        position: relative;
        display: none;

        input {
            padding: 0 0.5rem 0 2rem;
            background-position-y: center;
            background-color: transparent;
            border: solid 2px transparent;
            border-radius: 3px;
            height: 60%;
            margin-top: 0.75rem;
            color: $primary;
            transition: all 0.5s linear;
            width: 0;
            cursor: pointer;
            margin-right: 1rem;

            &:hover,
            &:focus {
                border-color: $primary;
            }

            &:focus {
                background-color: white;
                width: 11em;
                cursor: text;
                margin-right: 1rem;
            }
        }
    }

    .nav-links {
        display: inline-block;
        height: 100%;

        .nav-item {
            height: calc(100% - 0.6rem);
            margin: 0;

            .nav-link {
                display: inline-block;
                padding: 1rem 1rem 0 1rem;
                height: calc(100% - 0.6rem);
                line-height: 1.4;
                vertical-align: top;

                .icon.outbound {
                    color: $primary;
                }

                &:hover {
                    border-bottom: none;
                    text-shadow: 0 0 3px lighten($primary, 10%);
                    color: $primary;
                }

                &.router-link-active {
                    border: none;
                    color: $borderColor;
                    margin: 0;
                    box-sizing: border-box;
                    height: 100%;
                    padding: 1rem 1rem;
                    padding-bottom: 2.3rem;

                    &:hover {
                        pointer-events: none;
                        text-shadow: unset;
                    }
                }
            }
        }
    }

    .can-hide {
        @media (max-width: 719px) {
            display: none;
        }
    }
}

body .sidebar-mask {
    background: rgba(0, 0, 0, 0.5);
}

body .sidebar {
    box-shadow: 0 0 5px $secondary;
    transform: translateX(-150%);
    background: $secondary;
    border-radius: 3px;
    min-width: 9rem;
    bottom: unset;
    border: none;
    height: auto;
    width: auto;
    padding: 0;
    top: 4rem;
    left: 0.5em;

    .nav-links {
        border: none;

        .nav-item {
            padding: 0.25rem;

            .nav-link {
                padding: 0.75rem 1rem;
                line-height: 1.4;
                color: $primary;
                display: block;

                .icon.outbound {
                    color: $primary;
                }

                &:hover {
                    border-bottom: none;
                    text-shadow: 0 0 3px lighten($primary, 10%);
                    color: $primary;
                }

                &.router-link-active {
                    color: $borderColor;
                    box-sizing: border-box;
                    pointer-events: none;

                    &:hover {
                        text-shadow: unset;
                    }
                }
            }
        }
    }
}