$accentColor: #f55005;
$accentColor2: #f77236;
$textColor: #282a36;
$borderColor: lighten($textColor, 75%);
$codeBgColor: #141819;
$arrowBgColor: #adacac;

$primary: $accentColor;
$secondary: $textColor;